@using Data_access_lyer.models;
@model IEnumerable<department>
@{
    ViewData["Title"] = "Index";
}

<div>
    <a class=" btn btn-primary mt-3" asp-action="Create"> create new department </a>
</div>

@if(Model.Any()){

    <h1>All department</h1>
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(d=>d.code)</td>
            <td>@Html.DisplayNameFor(d=>d.name)</td>
            <td>@Html.DisplayNameFor(d=>d.time)</td>

            <td>details</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.code</td>
                <td>@item.name</td>
                <td>@item.time</td>
                    <partial name="_ButtonPartial" Model="@item.id">  </partial>
              
            </tr>
        }
        </tbody>
    </table>
    }
     else
    {
<div class="mt-5 alert-warning">
    <h2>no departments</h2>

</div>
    }


