@using mvc3.viewmodels;
@model IEnumerable<Employeeviewmodel>
@{
    ViewData["Title"] = "Index";
 var emp=   @ViewData["message"] as Employeeviewmodel;
}

<div>
    <a class=" btn btn-primary mt-3" asp-action="Create"> Create new employee </a>
</div>
<div  class="mt-2">
    <form method="get"asp-action="Index" class="row offset-2">
        <div class="col-10">
            <input class="form-control type="text" placeholder="Employee s Name" name="searchValue" required />
        </div>
        <div class="col-2">
            <input class="btn-btn-info" type="submit" value="Search" />
        </div>
    </form>

</div>
@if(Model.Any()){

    <h1>All Employees</h1>
    @*<h1>@ViewData["message"]</h1>*@
    @*<h1>@emp.name</h1>*@
    @*<h1>@ViewBag.message.name</h1>*@
    @*<h1  class="alert-success">@TempData["message"]</h1>*@
 
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            

                <td>@Html.DisplayNameFor(d=>d.name)</td>
                <td>@Html.DisplayNameFor(d => d.age)</td>
                <td>@Html.DisplayNameFor(d => d.address)</td>
                <td>@Html.DisplayNameFor(d => d.salary)</td>
                <td>@Html.DisplayNameFor(d => d.department)</td>
                <td>@Html.DisplayNameFor(d => d.phone)</td>
                 <td>@Html.DisplayNameFor(d => d.email)</td>
                <td>@Html.DisplayNameFor(d => d.isactive)</td>

            <td>details</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                    <td>@item.name</td>
                    <td>@item.age</td>
                    <td>@item.address</td>
                    <td>@Html.DisplayFor(e => item.salary)</td>
                    <td>@item.department?.name</td>
                    <td>@Html.DisplayFor(e =>item.phone)</td>
                 
                    <td>@Html.DisplayFor(e => item.email)</td>
                    <td>
                        @if (item.isactive)
                        {
                            <i class=" fa-solid fa-circle" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle" style="color:red"></i>
                        }
                    </td>
                 
             <partial name="_ButtonPartial" model="@item.Id"> </partial>
              
            </tr>
        }
        </tbody>
    </table>
    }
     else
    {
<div class="mt-5 alert-warning">
    <h2>No Employee</h2>

</div>
    }


